language: node_js
node_js:
  - node
addons:
  code_climate:
    repo_token:
      secure: "a47c66f9c4722b265da457a5c491e0870beef27b5e4447d465e9d13b43a21444"
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - make lint
  - make cover
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT 
notifications:
  email: false